<h1> {{title}} </h1>

<h2>if true</h2>
<div *ngIf="true">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>

<h2>if false</h2>
<div *ngIf="false">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>


<h2>if condition by using variable</h2>
<h3>value of variable : {{showMe}} </h3>
<div *ngIf="showMe">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>

<h2>if condition by using variable</h2>
<div *ngIf="!showMe">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>


<h2>Change variable value by button</h2>
<h3>value of variable : {{showMe1}} </h3>

<div *ngIf="showMe1">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>
<h2>Lorem, ipsum dolor.</h2>
<div *ngIf="!showMe1">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>

<button (click)="showMe1 = !showMe1">Change showMe1 </button>

<h2>With else condition</h2>
<div *ngIf="showMe1; else elseBlock">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, amet.</p>
</div>
<ng-template #elseBlock>
  <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequatur quod beatae praesentium provident delectus rem incidunt sed dolore, soluta, nisi ea quia corporis, nesciunt doloribus officia. Impedit quam repellat distinctio perspiciatis et illum, a voluptas nihil? Tempore odit repudiandae facere, aliquid aperiam iure? Facere, sapiente magnam blanditiis distinctio fuga tenetur eos voluptates, reiciendis quaerat laudantium ad. Reiciendis, voluptatem minima!</b></p>
</ng-template>

<h2>More clean code syntax</h2>
<div *ngIf="showMe1; then ifBlock; else elseBlock1"></div>
<ng-template #ifBlock>
  <div>
    <p style="color: blue;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis laboriosam veritatis cum, delectus error recusandae reiciendis sint dolore voluptas labore?</p>
  </div>
</ng-template>
<ng-template #elseBlock1>
  <div>
    <p style="color: coral;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sapiente, quod quisquam dolore vero dolores nostrum ullam similique velit fuga ratione necessitatibus sed quis ducimus fugiat praesentium expedita perspiciatis doloremque?</p>
  </div>
</ng-template>

<h2>using variable comparision condition</h2>
<div *ngIf="showMe2 ==='yes'; then ifBlock1; else elseBlock2"></div>
<ng-template #ifBlock1>
  <div>
    <p style="color: rebeccapurple;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis laboriosam veritatis cum, delectus error recusandae reiciendis sint dolore voluptas labore?</p>
  </div>
</ng-template>
<ng-template #elseBlock2>
  <div style="border-left: 12px; border-color: blue; ">
    <p style="color: coral;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sapiente, quod quisquam dolore vero dolores nostrum ullam similique velit fuga ratione necessitatibus sed quis ducimus fugiat praesentium expedita perspiciatis doloremque?</p>
  </div>
</ng-template>

<h2>Change component based on condition</h2>
<div *ngIf="showComp; then trueBlock; else falseBlock"></div>
<ng-template #trueBlock>
  <app-comp1></app-comp1>
</ng-template>
<ng-template #falseBlock>
  <app-comp2></app-comp2>
</ng-template>
<button (click)="showComp = !showComp"> Change Component </button>

<h2>another ng-template tag, with ngIf and ngIfElse directives</h2>
<ng-template [ngIf]="showTemp" [ngIfElse]="loading">
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda facilis sint perspiciatis fuga illum nisi quaerat architecto repudiandae minima a beatae quo tenetur consequuntur distinctio ad quia delectus, asperiores possimus?</p>
  </div>
</ng-template>
<ng-template #loading>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dignissimos non nobis dolorum eum alias molestiae hic, quidem accusantium, distinctio reiciendis illum, maxime atque asperiores. Recusandae molestiae vero explicabo cupiditate facere minima aspernatur fuga consequuntur ipsa nam quos consectetur nisi dignissimos, nihil culpa deleniti vitae quia adipisci quod quidem? Nulla!</p>
  </div>
</ng-template>
<button (click)="showTemp = !showTemp"> Change Component </button>

<h2>Nested if else</h2>
<ng-template [ngIf]="sm1" [ngIfElse]="eBlock">
  <div>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <hr>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis cum perferendis similique nisi nesciunt tenetur. Asperiores corrupti iusto, sapiente reprehenderit eaque totam atque ullam debitis nam quibusdam veritatis molestiae cumque eum excepturi accusantium quasi doloribus obcaecati. Rem illum ad in sequi et, quibusdam omnis dolorum asperiores, eligendi, minima soluta nobis.</p>
  </div>
</ng-template>
<ng-template #eBlock [ngIf]="sm2" [ngIfElse]="ifelseBlock">
  <div>
    <h2>Lorem, ipsum.</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatibus aliquid nobis modi incidunt rem vero. Quia facere fugit, nostrum aperiam voluptatem at omnis dolore consectetur animi aliquid, quis necessitatibus.</p>
  </div>
</ng-template>
<ng-template #ifelseBlock>
  <div>
    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, qui.</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquid id autem architecto excepturi! Dolore, cumque? Dolor sequi reprehenderit autem ullam, ipsam rem, et harum, amet molestias quis at sint.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, nesciunt. Omnis sapiente voluptatibus facilis unde animi quidem explicabo inventore veritatis at corrupti excepturi reiciendis odit nisi porro, amet, dolores assumenda enim ullam praesentium adipisci autem laboriosam numquam nam quo. Perspiciatis.</p>
  </div>
</ng-template>

<button (click)="sm1=!sm1">Change sm1</button>
<button (click)="sm2=!sm2">Change sm2</button>