<div>
    <h3>Lorem, ipsum dolor.</h3>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
    <hr>
    <div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed amet voluptatem obcaecati voluptates repellendus provident cumque qui, aliquam esse illum inventore, recusandae odit expedita autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi iure quia nesciunt accusamus ullam commodi nisi ab dolorem hic dolor pariatur illo voluptatum laudantium fugit eaque quam, reprehenderit quos optio voluptates architecto nulla! A, alias?</p>
            <hr>
            <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorum ab sunt reiciendis facilis deserunt minus.</i></p>
        </div>
    </div>
</div>
